<div class="main-wrapper main-wrapper-1">
    <app-navigation></app-navigation>
    <!--todo refactor for this  <router-outlet></router-outlet>-->
    <div class="main-content">
        <div class="section">
            <div class="section-body">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th scope="col"></th>
                                        <th scope="col">Name</th>
                                        <th scope="col">Email</th>
                                        <th scope="col">Mobile</th>
                                        <th scope="col">Company</th>
                                        <th scope="col">&nbsp;</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <th scope="row"></th>
                                        <td class="ng-binding">John Smith</td>
                                        <td class="ng-binding">john@gmail.com</td>
                                        <td class="ng-binding">9283748329</td>
                                        <td class="ng-binding">Esista</td>
                                        <td class="action">
                                            <div class="action-item" routerLink="new">
                                                <i class="fas fa-pen"></i>
                                            </div>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="add-btn" routerLink="new">
            <span class="add-icon"></span>
        </div>
    </div>

</div>
