<div class="main-wrapper main-wrapper-1">
    <app-navigation></app-navigation>
    <div class="main-content">
        <section class="section">
            <div class="section-body">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-header form-card-header">
                                <i class="fas fa-angle-left" routerLink="/transactions"></i>
                                <h4>Transaction Info</h4>
                            </div>
                            <div class="card-body">
                                <form name="enquiryForm" (ngSubmit)="alterTransaction(form)" #form="ngForm">
                                    <div class="form-row">
                                        <div class="form-group col-md-6">
                                            <label>Amount</label>
                                            <input type="number" ngModel name="amount" autocomplete="off" class="form-control" required>
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label>Note</label>
                                            <textarea name="note" ngModel autocomplete="off" class="form-control" required></textarea>
                                        </div>
                                    </div>

                                    <div class="form-row">
                                        <div class="form-group col-md-6">
                                            <label>Transaction Types</label>
                                            <select class="form-control" ngModel name="transaction_type" required>
                                                <option value="">Select</option>
                                                <option [ngValue]="status.id" *ngFor="let status of constants.TRANSACTION_TYPES">{{ status.text }}</option>
                                            </select>
                                        </div>
                                        <div class="form-group col-md-6">&nbsp;</div>
                                    </div>
                                    <div class="card-footer text-right">
                                        <button class="btn btn-primary mr-2" [ngClass]="{'btn-progress': btnLoader}" type="submit">Submit</button>
                                        <button class="btn btn-secondary mr-2" type="reset">Reset</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
