.action {
    display: flex;
    align-items: center;
    justify-content: space-around;

    .action-item {
        width: 30px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 4px;

        i {
            font-size: 15px;
        }

        &:hover {
            cursor: pointer;
            background: #f1f1f1;
        }
    }
}


.form-card-header {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    i {
        font-size: 25px;
        margin-right: 20px;
        line-height: 14px;
        cursor: pointer;
        transition: all 0.2s ease;

        &:hover {
            color: #d3d3d3;
            font-size: 30px;
        }
    }
}

.add-btn {
    cursor: pointer;
    position: fixed;
    bottom: 30px;
    right: 30px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #6777ef;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;

    .add-icon {
        width: 12px;
        height: 12px;
        background: url(../../assets/otika/images/add-icon.svg) no-repeat center center;
    }
}

.ng-submitted {
    input.ng-invalid,
    select.ng-invalid,
    textarea.ng-invalid {
        border: 1px solid red
    }
}

input.ng-invalid.ng-touched,
select.ng-invalid.ng-touched,
textarea.ng-invalid.ng-touched {
    border: 1px solid red
}

