<div class="navbar-bg"></div>
<nav style="background: white" class="navbar navbar-expand-lg main-navbar sticky">
    <div class="form-inline mr-auto">
        <ul class="navbar-nav mr-3">
            <li><a data-toggle="sidebar" class="nav-link nav-link-lg collapse-btn"> <i data-feather="align-justify"></i></a>
            </li>
            <li>
                <a class="nav-link nav-link-lg fullscreen-btn"> <i data-feather="maximize"></i> </a>
            </li>
        </ul>
    </div>
    <ul class="navbar-nav navbar-right">
        <li class="dropdown">
            <a data-toggle="dropdown" class="nav-link dropdown-toggle nav-link-lg nav-link-user" aria-expanded="false">
                <img alt="image" src="/assets/otika/images/user.png" class="user-img-radious-style">
                <span class="d-sm-none d-lg-inline-block"></span></a>
            <div class="dropdown-menu dropdown-menu-right pullDown">
                <div class="dropdown-title">Hello Kunj</div>
                <a class="dropdown-item has-icon"> <i class="far fa-user"></i> Profile </a>
                <a class="dropdown-item has-icon"> <i class="fas fa-bolt"></i> Activities </a>
                <a class="dropdown-item has-icon"> <i class="fas fa-cog"></i> Settings </a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item has-icon text-danger" (click)="logout()"><i class="fas fa-sign-out-alt"></i> Logout </a>
            </div>
        </li>
    </ul>
</nav>
<div class="main-sidebar sidebar-style-2">
    <aside id="sidebar-wrapper">
        <div class="sidebar-brand">
            <a> <img alt="image" src="/assets/landing/images/logo-text.png" class="header-logo">
                <!--<span class="logo-name">Esista</span>-->
            </a>
        </div>
        <ul class="sidebar-menu">
            <li class="dropdown" routerLink="/enquiries" routerLinkActive="active">
                <a class="nav-link">
                    <div class="icon-preview">
                        <img src="/assets/otika/images/icons/enquiries.png"/>
                    </div>
                    <span>Enquiries</span> </a>
            </li>
            <li class="dropdown" routerLink="/clients" routerLinkActive="active">
                <a class="nav-link" (click)="navigateTo('clients')">
                    <div class="icon-preview">
                        <img src="/assets/otika/images/icons/clients.png"/>
                    </div>
                    <span>Clients</span> </a>
            </li>
            <li class="dropdown" routerLink="/users" *ngIf="isAdmin" routerLinkActive="active">
                <a class="nav-link" (click)="navigateTo('users')">
                    <div class="icon-preview">
                        <img src="/assets/otika/images/icons/users.png"/>
                    </div>
                    <span>Users</span> </a>
            </li>
        </ul>
    </aside>
</div>
